body {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;  
}

 p {
	font-family : Verdana, sans-serif;
}

#commParent {
	position:relative;
}

.zfpTalkingText {
	font-family: 'Teko', Arial, sans-serif;
	font-size:4vw;
	text-align: center;
	color: white;

	width : 32.5%;
	position:absolute;
	top : 5%;
}

#pikText {
	left : 65%;
}

#zoqText {
	left : 2.5%;
}

#conversationList {
	font-size:2em;
}